* {
    box-sizing: border-box;
  }
  
  header,
  section {
    overflow-x: hidden;
  }

header .navbar-brand {
    padding-left: 3%;
  }
  .section-1 {
    padding: 17%;
    background-image: url(img/bg2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .section-2{
    padding:25%;
    background-color: #d3c4428c;
  }
  .card{
    margin:1%;
  }
  .section-2 h1{
    font-family: cursive;
    margin-top: 8%;
    color: lightyellow;
  }
  .section-2 .card-body{
    background-color:rgb(178, 209, 188);
  }
  .section-3{
    padding:35%;
    background-color: #caa45e;
  }
  .section-3 .row{
    margin-top: 5%;
  }
   form{
     padding-right: 40%;
   }
  .form-signin {
    width: 80%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="date"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="time"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  /*chef*/
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .section-4 h1{
    font-family: fantasy;
    margin-top: 8%;
  }
 .section-5{
   background-color: #ac5757;
 }
  .section-5 .text{
    margin:7%;
  }
  .section-6{
    background-color: black;
  }
.section-6 .contact{
  margin: 5%;
}

.section-5 h1{
  font-family:  monospace;
}

   /*media*/
  @media only screen and (max-width: 768px){
    .section-1{
    padding: 20%;
    }
    .section-3 .card{
     margin: 0 33%;
     width:100%;
     height:0;
    }
    
  }



